.frame {
	background: rgb(206, 204, 204);
	border: 1px solid black;
	padding: 0.2em;
	width: 10em;
	margin-top: 5em;
}
.frame > * {
	background: rgb(207, 194, 237);
	border: 1px solid black;
	padding: 0.5em;
	transition: all 2s linear;
	transform: perspective(10em) rotateZ(5deg);
}
.frame:hover > * {
	transform: perspective(10em) rotateY(135deg) rotateZ(5deg);
}